<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="TechTalk.SpecFlow" publicKeyToken="0778194805d6db41" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.7.0.0" newVersion="3.7.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="browser" value="chrome" />
    <add key="baseUrl" value="https://www.zoopla.co.uk/" />
    <add key="emailAddress" value="sudha41191@gmail.com" />
    <add key="password" value="Vidhya123$" />
  </appSettings>
</configuration>